
@model PagedList.IPagedList<WatchShop.Models.sanphamModel1>
@using PagedList.Mvc;

@{
    ViewBag.Title = "AllProduct";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a href="~/Home/Index">Home</a></li>
                    <li><a href="~/Products/AllProduct?dmid=true">All Watch (@Model.Count() Products)</a></li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- STORE -->
            <div id="store" class="col-md-12">
                <!-- store top filter -->
                <div class="store-filter ">
                    <div class="store-sort">
                        <label>
                            Sort By:
                            <select class="input-select">
                                <option value="0">---Choose---</option>
                                <option value="1">Discount</option>
                                <option value="2">New</option>
                                <option value="3">BestSeller</option>

                            </select>
                        </label>
                    </div>
                    <!-- /store top filter -->
                    <!-- store products -->
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-md-4 col-sm-3">
                                <div class="product">
                                    <a href="/dong-ho-deo-tay/@item.alias@item.id">
                                        <div class="product-img">
                                            <img src="@item.hinhanhnen" alt="@item.productname">
                                        </div>
                                        <div class="product-body">
                                            <p class="product-category">Category</p>
                                            <h3 class="product-name"><a href="#">@item.productname</a></h3>
                                            @if (item.newprice.HasValue == true)
                                            {
                                                <h4 class="product-price">@item.newprice.Value.ToString("#,##0VNĐ")</h4><del class="product-old-price">@item.productprice.Value.ToString("#,##0VNĐ")</del>
                                            }
                                            else
                                            {
                                                <h4 class="product-price">
                                                    @item.productprice.Value.ToString("#,##0VNĐ")
                                                </h4>
                                            }
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                            <div class="product-btns">
                                                <button class="quick-view">
                                                    <i class="fa fa-eye"></i><span class="tooltipp">
                                                                                 <div id="myDIV">
                                                                                     <p>Loại dây: @item.lday</p>
                                                                                     <p>Mặt kính: @item.matkinh</p>
                                                                                     <p>Chống nước: @item.chongnuoc</p>
                                                                                     <p>@item.thongtinphu</p>
                                                                                     <p>@item.thongtinphu1</p>
                                                                                     <p>@item.thongtinphu2</p>
                                                                                     <p>@item.thongtinphu3</p>
                                                                                 </div>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                        
                                    </a>
                                </div>
                            </div>
                        }

                    </div>
                    <!-- /store products -->
                    <!-- store bottom filter -->
                    <div class="store-filter clearfix">


                        @Html.PagedListPager(Model, page => Url.Action("AllProduct", new { page, dmid = ViewBag.dmid }))

                    </div>
                </div>
                    <!-- /store bottom filter -->
                </div>
                <!-- /STORE -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->


